body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://thumbs.dreamstime.com/b/delicious-pizza-ingredients-white-wooden-background-copy-space-158366780.jpg')
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #f8f8f8;
    padding: 20px 0;
    
}

header h1 {
    margin: 0;
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 40px 0;
}

h2 {
    color: #333;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item h3 {
    margin-bottom: 5px;
}

.menu-item p {
    margin: 5px 0;
}

.menu-item span {
    color: #666;
}

.btn {
    display: inline-block;
    background-color: #FFD700;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #FFC500;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
